# Configuración de Supabase
VITE_SUPABASE_URL=https://your-project.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-key

# URL del Frontend
VITE_FRONTEND_URL=https://golfinspection.netlify.app/

# Credenciales de Servicio
VITE_SERVICE_EMAIL=your-email@example.com
VITE_SERVICE_PASSWORD=your-app-password

# Configuración de API Template
VITE_API_TEMPLATE_KEY=your-api-template-key
VITE_API_TEMPLATE_URL=https://api.apitemplate.io/v1/create
